In [17]:
a=2**5                # ** = power 
print(a)

32

In [16]:
 print ('hello   \n   world')         #write in two lines using \n

hello
   world

In [20]:
x=5;
y=10;
a=25;
b=10;
if x+y == a-b:
    print(True)
else:
    print(False)

True

In [59]:
age = int(input(' age'));                            
gender = input(' gender');
if age > 18 and gender == 'male':
    print('good');
else:
    status='bad';
    print(status);

 age33
 gendermale
good

In [49]:
n1='a';
n2='b';
n3='c';
print(n1+','+n2+','+n3);      #concatination (n1+','+n2+','+n3)

a,b,c

In [104]:
name=['khuzaima','saim','hassan','khuzi','maab'];      #Arrays(List)
print(name);

['khuzaima', 'saim', 'hassan', 'khuzi', 'maab']

In [55]:
print(name[4]);       #call specific array

maab

In [58]:
name[3]='khuzi developers';       #Replace Any in Array
print(name);

['khuzaima', 'saim', 'hassan', 'khuzi developers', 'maab']

In [69]:
name.append('al maab');        #add values in end (using append)
print(name);

['khuzaima', 'saim', 'hassan', 'khuzi developers', 'maab', 'al maab']

In [71]:
arr = ['khuzaima',2662,786,77.8,True];        #add all values in Arry(list)
print(arr);

['khuzaima', 2662, 786, 77.8, True]

In [74]:
name   # Call all Values Thats Creats in Arrys(lists)

['khuzaima', 'saim', 'hassan', 'khuzi developers', 'maab', 'al maab']

In [80]:
newListt = arr + name;    # Add two Lists 
print(newListt);           #use camel like first small character and large character(newList)

['khuzaima', 2662, 786, 77.8, True, 'khuzaima', 'saim', 'hassan', 'khuzi developers', 'maab', 'al maab']

In [108]:
name    #call arry(list) without using print

['khuzaima', 'saim', 'khuzidev', 'khuzidev', 'hassan', 'khuzi', 'maab']

In [107]:
name.insert(2,"khuzidev");         #insert any values on any index
print(name);

['khuzaima', 'saim', 'khuzidev', 'khuzidev', 'hassan', 'khuzi', 'maab']

In [126]:
name

['khuzaima', 'saim', 'khuzidev', 'khuzidev', 'hassan', 'khuzi', 'maab']

name2=name[0:2];
print(name2);

In [110]:
name2=name[0:2]       #add some particular values in other list([0:2]=in this case 0-1, because one is minus from last digit)
print(name2)

['khuzaima', 'saim']

In [136]:
name3 =name[3:]  #copy from above 3 like example
print(name);

['khuzaima', 'saim', 'khuzidev', 'khuzidev', 'hassan', 'khuzi']

In [115]:
del name2[1];           # delete value using index from arry

print(name2)

['khuzaima']

In [130]:
name.remove('maab');        #remove using values name
print(name);

['khuzaima', 'saim', 'khuzidev', 'khuzidev', 'hassan', 'khuzi']

In [132]:
arr.pop();          #Remove last value
print(arr);

['khuzaima', 2662, 'khuzidev', 'khuzidev', 'khuzidev', 786]